* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.glasses__app {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 99;
}

.glasses__app::before {
  position: absolute;
  top: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.glasses__app h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px 0;
  z-index: 99;
  backdrop-filter: blur(9px) saturate(138%);
  -webkit-backdrop-filter: blur(9px) saturate(138%);
  background-color: rgba(17, 25, 40, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.model {
  position: relative;
}

.glasses__model {
  width: 57%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.glasses__info {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100px;
  z-index: 100;
  padding: 5px 10px;
  overflow: hidden;
}

.glasses__info h4 {
  font-size: 20px;
  color: #4835a2;
  margin: 0;
}

.glasses__info p {
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.glasses__info::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(233, 164, 129, 0.45);
  backdrop-filter: blur(16px);
}

.card__item {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
}

.card__img:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card__img:focus {
  background-color: rgba(255, 255, 255, 0.45);
  transform: translateY(-2px);
  outline: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card__img {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  height: 70px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}
